---
# --------------------------------

- name: 'push bash include'
  template:
    src: consul.sh.j2
    dest: /usr/local/etc/bash.d/consul.sh
    owner: root
    group: root
    mode: 0644
  become: true
  tags:
  - ct-consul

- name: 'directories'
  file:
    state: directory
    path: '{{item}}'
    owner: root
    group: root
    mode: '0755'
  loop:
  - '{{consul_etc_dir}}'
  - '{{consul_data_dir}}'
  become: true
  tags:
  - ct-consul

- name: 'system account'
  user:
    name: consul
    comment: 'Consul system account'
    system: true
    state: present
  become: true
  tags:
  - ct-consul

- name: 'render config template'
  template:
    src: config.json.j2
    dest: '{{consul_etc_dir}}/config.json'
    owner: root
    group: root
    mode: '0600'
  become: true
  tags:
  - ct-consul

- name: 'render systemd unit file'
  template:
    src: consul.service.j2
    dest: /etc/systemd/system/consul.service
    owner: root
    group: root
    mode: '0600'
  register: reg_service
  become: true
  tags:
  - ct-consul

- name: 'download archive'
  get_url:
    url: '{{hashicorp_repo}}/consul/{{consul_version}}/{{consul_target}}'
    dest: '{{hashicorp_dir_staging}}'
    timeout: '{{hashicorp_internet_timeout}}'
    validate_certs: false
  tags:
  - ct-consul

- name: 'expand archive'
  unarchive:
    src: '{{hashicorp_dir_staging}}/{{consul_target}}'
    dest: '{{hashicorp_dir_bin}}'
    copy: false
  become: true
  ignore_errors: '{{ansible_check_mode}}'
  tags:
  - ct-consul

- name: 'consul service to {{consul_state}}'
  systemd:
    name: consul
    state: '{{consul_state}}'
    enabled: true
    daemon_reload: '{{reg_service is changed}}'
  become: true
  tags:
  - ct-consul

# --------------------------------
...
