{
    "data_dir": "{{consul_lib_dir}}",
    "datacenter": "{{consul_datacentre}}",
    "enable_syslog": true,
    "encrypt": "{{consul_key}}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "server": false,
    "start_join": [
{% for ip in consul_addresses %}
        "{{ip}}"{{ "," if not loop.last else "" }}
{% endfor %}
    ]
}
