{
    "bootstrap_expect": {{consul_addresses|length}},
    "client_addr": "0.0.0.0",
    "datacenter": "{{consul_datacentre}}",
    "data_dir": "{{consul_data_dir}}",
    "domain": "consul",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "{{consul_key}}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "server": true,
    "start_join": [
{% for ip in consul_addresses %}
        "{{ip}}"{{ "," if not loop.last else "" }}
{% endfor %}
    ],
    "ui": true
}
