# --------------------------------
# bash include consul.sh MANAGED_BY_ANSIBLE
export PATH="{{hashicorp_dir_bin}}:${PATH}"
alias cs={{hashicorp_dir_bin}}/consul
alias csm='cs members'
# --------------------------------
