[Unit]
Description=Consul client process
After=network.target
 
[Service]
Type=simple
ExecStart=/bin/bash -c '{{hashicorp_dir_bin}}/consul agent -config-file {{consul_etc_dir}}/client.json -bind={{local_ipv4}}'
TimeoutStartSec=0
 
[Install]
WantedBy=default.target
